*{
    margin: 0;
    padding: 0;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
}
h1{
    font-size: 25px;
    margin-bottom: 20px;
}
.card{
    background-color: rgba(246, 255, 138, 1);
    padding: 20px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.antrian{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.antrian p{
    font-size: 20px;
    margin-bottom: 10px;
}
.antrian p span{
    font-weight: bold;
    font-size: 23px;
}
.antrian hr{
    margin-bottom: 10px;
}
a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 250px;
    height: 35px;
    border-radius: 40px;
    border: 1px solid rgba(56, 54, 10, 1);
    background-color: rgba(255, 247, 49, 1);
    color: rgba(56, 54, 10, 1);
    font-weight: bold;
    margin-top: 15px;
}
.btn-keluar{
    background-color: rgb(236, 18, 84);
    color: white;
}
.btn-keluar:hover{
    background-color: rgb(189, 17, 68);
}
a:hover{
    background-color: rgb(228, 221, 14);
}